<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <shared-header [title]="'lbl_change_password'"></shared-header>
</ion-header>

<ion-content>
  <form [formGroup]="ChangePasswordForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>{{ 'lbl_current_password' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="currentPassword" formControlName="currentPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.currentPassword">
          <div class="error-message"
            *ngIf="ChangePasswordForm.get('currentPassword').hasError(validation.type) && (ChangePasswordForm.get('currentPassword').dirty || ChangePasswordForm.get('currentPassword').touched)">
            {{ validation.message }} 
          </div>
          <div class="error-message" *ngIf="ChangePasswordForm.controls.currentPassword.hasError('minlength') 
               && (ChangePasswordForm.controls.currentPassword.dirty)">{{'lbl_password_length' | translate }}  
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label stacked>{{ 'lbl_new_password' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="ChangePasswordForm.get('password').hasError(validation.type) && (ChangePasswordForm.get('password').dirty || ChangePasswordForm.get('password').touched)">
            {{ validation.message }}
          </div>
          <div class="error-message" *ngIf="ChangePasswordForm.controls.password.hasError('minlength') 
               && (ChangePasswordForm.controls.password.dirty)">{{'lbl_password_length' | translate }}  
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label stacked>{{ 'lbl_confirm_new_password' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirmPassword">
          <div class="error-message"
            *ngIf="ChangePasswordForm.get('confirmPassword').hasError(validation.type) && (ChangePasswordForm.get('confirmPassword').dirty || ChangePasswordForm.get('confirmPassword').touched)">
            {{ validation.message }}
          </div>
          <!-- <div class="error-message" *ngIf="ChangePasswordForm.controls.confirmPassword.hasError('minlength') 
               && (ChangePasswordForm.controls.confirmPassword.dirty)">{{'lbl_password_length' | translate }}  
          </div> -->
          <div class="error-message" *ngIf="confirmPassword!='' && confirmPassword!=password">{{'lbl_Password_not_matched' | translate }}  
          </div>
        </ng-container>
      </div>
    </ion-list>



    <div style="padding:0 10px;">
      <button ion-button block class="redbutton" [disabled]="!ChangePasswordForm.valid || confirmPassword!=password"
        (click)="changePassword()">{{ 'lbl_change_password' | translate }}</button>
    </div>
  </form>
</ion-content>