
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'lbl_forgot_password' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce padding class="no-scroll login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form [formGroup]="forgotPasswordForm"  name="forgotPassword"  class="list-form">
      <ion-item>
        <ion-label floating>
          <!-- <ion-icon name="mail" item-start class="text-primary"></ion-icon> -->
          <i class="fa fa-envelope-o"></i>
          {{ 'lbl_email' | translate }}
        </ion-label>
        <ion-input type="email" class="form-controll" name="userEmail"  formControlName="userEmail"  autocapitalize="off" (focusout)="showError($event)" ></ion-input>
      </ion-item> 

      
      <div class="validation-errors">
        <div class="error-message" *ngIf="!forgotPasswordForm.valid" >
          <span class="err_msg" *ngIf="isShowError == false && (forgotPasswordForm.controls.userEmail.value != null && forgotPasswordForm.controls.userEmail.value != '') ">{{'lbl_invalid_email' | translate}}</span>

          <span class="err_msg" *ngIf="isShowError == false && (forgotPasswordForm.controls.userEmail.value == null || forgotPasswordForm.controls.userEmail.value == '') ">{{'lbl_email_required' | translate}}.</span>
      </div>

      <div class="error-message" *ngIf="forgotPasswordForm.valid" >
        <span class="err_msg" *ngIf="notExist">{{'lbl_email_not_exist' | translate}}</span>

        
    </div>
    </div>
      
      

    </form>

    

    <div style="margin-top: 50px;" >
      <button class="ion-button"  ion-button icon-start block color="dark" [disabled]="!forgotPasswordForm.valid" (click)="doForgotPassword()" tappable type="submit"  >
          {{ 'lbl_forgot_password' | translate }}
      </button>

    </div>


   

  </div>
</ion-content>
