page-sub-users {
    ion-label{
        font-size: 1.6rem;
    }
    .action-buttons{
        font-size: 12px;
        height: 36px !important;
    }

    .add-action-button{
        font-size: 15px;
        height: 45px !important;
        margin-right: 15px;
        margin-top: 10px;
        bottom: 10px;

        
    }

    
   
}
